.cardpage__container {
  background-image: url("https://images.pexels.com/photos/7694127/pexels-photo-7694127.jpeg?cs=srgb&dl=pexels-dmitriy-ganin-7694127.jpg&fm=jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.container__form {
  background-image: url("https://images.pexels.com/photos/7694127/pexels-photo-7694127.jpeg?cs=srgb&dl=pexels-dmitriy-ganin-7694127.jpg&fm=jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding: 50px;
}

.cardpage__description--title {
  font-family: "Architects Daughter", Verdana, Geneva, Tahoma, sans-serif;
  font-size: 30px;
  text-align: center;
  padding-top: 10px;
  text-decoration: overline;
  color: #ffffff;
  margin: 0;
}

.container__button-update-delete {
  display: flex;
  padding: 10px;
}

.button__delete,
.button__update {
  border: 1px solid #0c7c59;
  background: bottom;
  color: #0c7c59;
  font-size: 22px;
  padding: 5px;
  font-family: "Architects Daughter", "Gill Sans", "Gill Sans MT", Calibri,
    "Trebuchet MS", sans-serif;
  margin-left: 10px;
  cursor: pointer;
}

.button__update:hover,
.button__delete:hover {
  text-decoration: underline;
  transition: color 0.5s ease-in-out, background-color 0.5s ease-in-out;
  background: #020e0a48;
}

.cardpage__title {
  color: #0c7c59;
  font-family: "Architects Daughter", Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  text-align: center;
  padding: 10px;
  text-decoration: overline;
}

.cardpage__description {
  background-color: #fafafad9;
  width: 300px;
  margin: 10px auto 0 auto;
  border-radius: 20px;
  box-shadow: 7px 4px 18px -7px rgb(0 0 0 / 95%);
  text-align: center;
}

.cardpage__description--paragraph {
  padding: 9px;
}

.cardpage__stadistics {
  background-color: #fafafad9;
  width: 188px;
  margin: 10px auto 0 auto;
  border-radius: 20px;
  box-shadow: 7px 4px 18px -7px rgb(0 0 0 / 95%);
  text-align: center;
}
.cardpage__stadistics p {
  color: rgb(1, 39, 13);
  font-size: 18px;
  margin: 0;
  padding: 5px;
}

.cardpage__images {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 8px;
}

.container__image {
  background-color: #fafafad9;
  width: 208px;
  margin: 10px auto 0 auto;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  height: 158px;
  align-items: center;
}

.cardpage__stadistics-map {
  height: 250px;
  display: flex;
  justify-content: center;
  padding: 20px;
}

.cardpage__image {
  border-radius: 20px;
  padding: 0;
}

.leaflet-touch {
  height: 210px;
  width: 60vw;
  top: 10px;
}
