@import "./variables";

%flex-column-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

%flex-center {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

%form-label {
  font-size: 20px;
  letter-spacing: 1px;
  font-family: $fontLabel;
}

%form-input {
  text-align: center;
  border: 0px;
  border-bottom: 1px dotted black;
  font-size: 16px;
  padding: 5px;
  margin-bottom: 10px;
  letter-spacing: 1px;
  width: 204px;
}
