@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");

/* COLORS */
$green: #74d3ae;
$gray: #d3c9be;
$gold: #daa870;

/*FONT*/
$fontTitle: "Great Vibes", Courier, Arial, monospace;
