@import "/src/styles/extends";
@import "/src/styles/variables";

.registerform {
  &__title {
    font-size: 50px;
    margin: 0;
    padding: 20px;
    text-align: center;
    font-family: $fontTitle;
    color: $gold;
    letter-spacing: 100px;
    margin-top: 20px;
    border-bottom: 2px solid $gold;
  }

  &__container {
    height: 700px;
    display: flex;
  }

  &__image-container {
    display: flex;
    flex-direction: column;
  }

  &__image {
    height: 250px;
    width: 250px;
  }
}
