.container__registerform {
  background-image: url("https://images.pexels.com/photos/7694127/pexels-photo-7694127.jpeg?cs=srgb&dl=pexels-dmitriy-ganin-7694127.jpg&fm=jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 600px;
}

.register__title {
  font-family: "Architects Daughter", Verdana, Geneva, Tahoma, sans-serif;
  font-size: 22px;
  text-align: center;
  padding-top: 10px;
  text-decoration: overline;
  color: #0c7c59;
  margin: 0;
}
