@import "/src/styles/extends";
@import "/src/styles/variables";

.header {
  @extend %flex-center;
  margin-top: 30px;

  &__title {
    font-size: 70px;
    padding: 20px;
    letter-spacing: 100px;
    font-family: $fontTitle;
    color: $gold;
  }

  &__icon-logo {
    margin: 20px;
    border-radius: 20px;
  }
}
