.googlemaps__container {
  background-image: url("https://images.pexels.com/photos/7694127/pexels-photo-7694127.jpeg?cs=srgb&dl=pexels-dmitriy-ganin-7694127.jpg&fm=jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 600px;
}

.leaflet__map {
  font-family: "Architects Daughter", Verdana, Geneva, Tahoma, sans-serif;
  font-size: 22px;
  text-align: center;
  padding-top: 10px;
  text-decoration: overline;
  color: #0c7c59;
  margin: 0;
}

.googlemaps {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.leaflet-container {
  width: 100vw;
  height: 100vh;
}
// .leaflet {
//   width: 100%;
//   height: 100%;
// }
