.Login__title {
  font-family: "Architects Daughter", Verdana, Geneva, Tahoma, sans-serif;
  font-size: 22px;
  text-align: center;
  padding-top: 10px;
  text-decoration: overline;
  color: #0c7c59;
  margin: 0;
}

.container__loginform {
  background-image: url("https://i.ibb.co/tzvf5vV/Background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 600px;
}
