.links__container {
  display: flex;
  justify-content: space-evenly;
}

.nav-link {
  margin-top: 10px;
  padding: 10px;
  text-decoration: none;
  font-family: "Source Code Pro", Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px;
  color: #fff;
  border-radius: 50%;
  background-color: #0c7c59;
  width: 60px;
  height: 20px;
  text-align: center;
}

:hover.nav-link {
  background-color: #b8c4c4;
}

@media (min-width: 992px) {
  .nav-link {
    font-size: 18px;
    width: 80px;
    height: 25px;
  }
}
