@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans&display=swap");

.links__container {
  position: fixed;
  height: 170vw;
  width: 100vw;
  z-index: 3;
  top: 0px;
  left: 0;
  background: rgb(0, 0, 0, 0.75);
  display: flex;
  flex-direction: column;
  padding: 20px;
  justify-content: center;
  align-items: center;
}
.nolinks {
  display: none;
}
.nav-link {
  margin-top: 10px;
  padding: 10px;
  text-decoration: none;
  font-family: "Pacifico", Verdana, Geneva, Tahoma, sans-serif;
  font-size: 22px;
  color: #fff;
  width: 60px;
  text-align: center;
}

.link__title {
  font-family: "Work Sans'", Verdana, Geneva, Tahoma, sans-serif;
  font-size: 30px;
  color: #fff;
  text-transform: uppercase;
}

:hover.nav-link {
  color: #0c7c59;
}

.link__container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.link__image {
  padding-top: 5px;
  height: 30px;
}
@media (min-width: 992px) {
  .nav-link {
    font-size: 18px;
    width: 80px;
    height: 25px;
  }
}
