.container__footer {
  height: 60px;
  background-color: #b5cbbf;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__info {
  margin: 0;
  font-family: "Roboto", Verdana, Geneva, Tahoma, sans-serif;
  color: #fefdfa;
}
