@import "/src/styles/extends";
@import "/src/styles/variables";

.register {
  height: 600px;
  width: 50%;

  &__container {
    @extend %flex-column-center;
  }

  input {
    @extend %form-input;
  }

  input:focus-visible {
    outline: none;
    border: 0;
    border-bottom: 1px solid red;
  }
}
