.createhike__container {
  background-image: url("https://images.pexels.com/photos/7694127/pexels-photo-7694127.jpeg?cs=srgb&dl=pexels-dmitriy-ganin-7694127.jpg&fm=jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding: 50px;
}

.createhike__description-container {
  font-size: 18px;
  font-family: "Roboto", Verdana, Geneva, Tahoma, sans-serif;
  padding: 5px;
  text-align: center;
}
