.createhike__container {
  background-image: url("https://i.ibb.co/cC5C9jy/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 1320px;
}

.createhike__description-container {
  font-family: "Architects Daughter", Verdana, Geneva, Tahoma, sans-serif;
  font-size: 22px;
  text-align: center;
  padding-top: 10px;
  text-decoration: overline;
  color: #0c7c59;
  margin: 0;
}
