@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");

// .homepage__container {
//   // background-image: url("https://i.ibb.co/tzvf5vV/Background.jpg");
//   // background-repeat: no-repeat;
//   // background-size: cover;
//   // background-attachment: fixed;
// }
.homepage__description-container {
  display: flex;
  padding: 5px;
}

.homepage__description-title {
  font-size: 22px;
  font-family: "Dancing Script", Verdana, Geneva, Tahoma, sans-serif;
  padding: 5px;
  text-align: center;

  box-shadow: 2px 2px 1px;
  border-radius: 5px 0px 48px 0px;
}

.homepage__button {
  position: absolute;
  width: 67px;
  height: 38px;
  top: 144px;
  right: 10px;
}

.homepage__container-title {
  background-color: #4568d7;
  height: 5px;
}

.homepage__title {
  background-color: #00000030;
  font-family: "Architects Daughter", Verdana, Geneva, Tahoma, sans-serif;
  font-size: 30px;
  text-align: center;
  padding-top: 10px;
  color: #4165d5;
  text-transform: capitalize;
}

.homepage__card {
  margin-top: 50px;
  padding-bottom: 50px;
}

.container_spinner {
  justify-content: center;
  display: flex;
  font-size: 40px;
  padding-bottom: 182px;
  color: #0c7c59;
}

@media (min-width: 992px) {
  .homepage__card {
    display: flex;
    justify-content: space-between;

    flex-wrap: wrap;
  }

  .homepage__description {
    font-size: 23px;
    margin-left: 30px;
  }
  .homepage__title {
    font-size: 26px;
  }
}
