.homepage__description-container {
  margin-top: 10px;
  padding: 10px;
  height: 53px;
}

.homepage__description {
  font-size: 18px;
  font-family: "Roboto";
  padding: 5px;
}

.homepage__button {
  position: absolute;
  width: 67px;
  height: 38px;
  top: 144px;
  right: 10px;
}

.homepage__title {
  font-family: "Architects Daughter", Verdana, Geneva, Tahoma, sans-serif;
  font-size: 22px;
  text-align: center;
  padding-top: 10px;
  text-decoration: overline;
  color: #0c7c59;
}

.homepage__card {
  margin-top: 50px;
}
