.homepage__container {
  background-image: url();
  background-repeat: no-repeat;
  background-size: cover;
}

.homepage__description-container {
  margin-top: 10px;
  padding: 10px;
  height: 53px;
}

.homepage__description {
  font-size: 18px;
  font-family: "Roboto", Verdana, Geneva, Tahoma, sans-serif;
  padding: 5px;
}

.homepage__button {
  position: absolute;
  width: 67px;
  height: 38px;
  top: 144px;
  right: 10px;
}

.homepage__title {
  font-family: "Architects Daughter", Verdana, Geneva, Tahoma, sans-serif;
  font-size: 22px;
  text-align: center;
  padding-top: 10px;
  text-decoration: overline;
  color: #0c7c59;
}

.homepage__card {
  margin-top: 50px;
  width: 100vw;
}

@media (min-width: 992px) {
  .homepage__card {
    display: flex;
    justify-content: space-between;
    width: 100vw;
    flex-wrap: wrap;
  }

  .homepage__description {
    font-size: 23px;
    margin-left: 30px;
  }
  .homepage__title {
    font-size: 26px;
  }
}
